// Place all the styles related to the api/Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event-content{
    height:1200px;
    width:100%;
    backgound-color:#f2fcea; 
}
////////////////////////////
.event-heading{
    height:700px;
    width: 100%;
    // border: 1px solid yellow;
    background-color: #f2fcea;
}
.event-pic{
    height: 300px;
    width: 100%;
    // border: 1px solid blue;
    // background: url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/02/28/14/basketball-shadow.jpg?w968h681");
    background: url("https://images.unsplash.com/photo-1527527753602-fb58e749276a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2875&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // background-size: 100% 100%; 
    opacity: .8;
}

.layer{
    height: 100%;
    width: 100%;
    background: rgba(28, 230, 169, .3);
    display:flex;
    align-items: center;
    justify-content: center;
}
.text{
    // display: flex;
    // flex-direction: column;
    text-align: center;
}
.gg{
    font-weight: bold;
    font-size: 50px;
    color: white;
    padding-bottom: 20px
}

.event-header-text{
    font-weight: bold;
    font-size: 40px;
    color: white
}

.event-description{
    height: 400px;
    width: 50%;
    // border: 1px solid blue;
    text-align: center;
    margin: 0 auto;
}

.des-title{
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 25px;
    color: #02E1BA;
}

.des-mes{
    font-size: 20px;
}
////////////////////
.event-main{
    height:100%;
    width: 100%;
    background-color: #f2fcea;
    padding-top: 30px;
    
    
}

.event-list{
    height: 100%;
    width: 100%;
    // border: 1px solid black;
    // overflow-y: scroll;
    
    
}

.event-attr{
    border: 1px solid red;
    width: 170px;
    height: 200px;
    padding: 10px;
    background-color: white;
    margin-right: 20px;
}

.event-spec{
    padding-bottom: 20px;
}
.event-date{
    font-size:30px; 
    font-weight: bold;
}
.event-time{
    font-size:18px;
    font-weight: 600;
    padding-left: 15px;
}
.event-address{
    font-size: 15px;
    color: gray;
    padding-top: 25px;
}
.event-url{
    font-size: 15px;
    color: gray;
    padding-top: 25px;
    height: 25px;
    border-bottom: 1px solid gray;
}

.host-form{
    padding-top: 50px;
    width: 600px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
}
.drop-down-city{
    width: 200px;
    height: 30px;
    font-size: 20px;
    margin-bottom:10px;
    border-radius: 5px;
}
.textarea-box{
    border: 1px solid #E6E4E4;
    border-radius: 5px;
    background-color: white;
    height: 100px;
    width: 90%;
    padding: 8px;
    font-size: 20px;
    margin-bottom: 10px
}

.submit-con{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #FD524A;
    width: 87%;
    color: white;
    padding: 18px;
    border-radius: 7px; 
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
}

.host-main{
    height: 100%;
    width:100%;
    background-color: #f2fcea;
}

////////////show
.show-main{
    height:100%;
    width:100%;
    border: 1px solid red;
    background-color: #f2fcea;
    
}

.show-content{
    display: flex;
    width: 70%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;
}


.event-box{
    width: 250px;
    height:300px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
    margin-right: 100px;
    
}
.date{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 15px;
}
.toPlay{
    font-weight: bold; 
    color: green;
    font-size: 25px;
    padding-top: 10px;
}
.info{
    color: gray;
    padding-bottom: 15px;
}

.meet-host{
    color: green;
    font-weight: bolder;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px
}
.story{
    font-weight: bold;
    position: center;
    padding-bottom: 10px;
}
.host-description{

}

.city-arr{
    display:flex;
    flex-wrap: wrap;
}

.city-box{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    color: green;
    border: 2px solid green;
    margin-right: 20px;
    margin-bottom: 50px;
    margin-left: 80px;
    width: 180px;
    height: 230px; 
    
}