// Place all the styles related to the api/JoinTables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dash-content{
    width: 100%;
    height: 100%; 
    // border: 1px solid red;
    display: flex;
    background-color: #f2fcea;
}

.dash-side{
    height:100%;
    width:250px;
    // border: 1px solid blue;
    margin-left: 10%;

}
.welcome{
    color: green;
    font-weight: bold;
    font-size: 30px;
    padding-top:15px;
}
.message{
    font-weight: 600;
    font-size:20px;
    padding-top: 10px;
}
.join-link{
    height: 60px;
    width:100%;
    border-radius: 10px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 18px;
    margin-top: 40px;
    font-weight: 550;

}

.user-events{
    margin-left: 50px;
}
.user-events label h1{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 15px;
}

.edit-btn{
    // height: 20px;
    // width: 50px;
    background-color: #00cc00;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-weight: 600;
    // background: linear-gradient(to top, #77d42a 5%, #5cb811 100%);
    background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
    // border: 1px solid black;
    
}
.edit-btn:hover {
     background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
    
}

.hosted-events{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
