// Place all the styles related to the api/JoinTables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dash-content{
    width: 100%;
    height: 100%; 
    border: 1px solid red;
    display: flex;
}

.dash-side{
    height:100%;
    width:25%;
    border: 1px solid blue;

}

.user-events{

}