.main-container{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    // align-items: center;
    padding-top: 50px;
    background-color: #DAD7D4;
}

.credentials-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}


//sign in
.signin-container{
    width: 600px;
    height: 300px;
}

.input-box{
    border: 1px solid #E6E4E4;
    border-radius: 5px;
    background-color: white;
    height: 30px;
    width: 90%;
    padding: 8px;
    font-size: 20px;
    margin-bottom: 10px;

    
}
.submit-box{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #FD524A;
    width: 87%;
    color: white;
    padding: 18px;
    border-radius: 7px; 
    font-size: 18px;
    font-weight: bold;
}

.signin{
    color: red;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}
.signin-m{
    font-size: 18px;
    padding-bottom: 20px;
}

.switch{
    font-size:20px;
    text-decoration: none;
    color: red;
    padding-top: 10px;
    padding-left: 50px;
    
}


//Logout
.signup-container{
    height: 500px;
    width: 600px;
}

